GEMINI_API_KEY=AIzaSyAwbGtL0QFUVOWRdjnEsMggUYRr2LVY0a4
TAVILY_API_KEY=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

# Optional: Tesseract path on Windows
# TESSERACT_CMD=C:/Program Files/Tesseract-OCR/tesseract.exe

# Optional: Poppler path on Windows (for pdf2image fallback on scanned PDFs)
# POPPLER_PATH=C:/poppler/bin
